.App {
  text-align: center;
  min-width: 500px;
  max-width: 500px;
  min-height: 400px;
  max-height: 400px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.banner {
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: #ffffff;
  height: 40px;
  margin: 15px;
}

.banner-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.banner-name {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Satisfy', cursive;
}

.translate-text-component{
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.translate-component{
  display: flex;
  justify-content: center;
  align-items: center;
}

.translate-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.translate-text {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
}
.info-icon{
  font-size: 16px;
  color: #ffffff;
  margin-left: 5px;
  cursor: pointer;
}
.correct-text{
  font-size: 12px;
  color: #ffffff;
  font-style: italic;
  text-decoration: underline;
}

.translation-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.translation-form input[type="text"] {
  width: 50%;
  height: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
}

.translation-form button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(0, 133, 129);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.translation-form button[type="submit"]:hover {
  background-color: rgb(2, 108, 104);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.translation-form button[type="submit"]:active {
  background-color: #2980b9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.skip-button{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.suggestion-component {
  margin-top: 10px;
  margin: 15px;
}
.suggestion-text {
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 10px;
  background-color: rgb(138, 138, 138);
  cursor: pointer;
}
.suggestion-text:hover {
  background-color: rgb(99, 99, 99);
  color: #ffffff;
}